version: "3.8"

services:
  postgres:
    image: postgis/postgis:latest
    container_name: postgres_container
    env_file:
      - .env
    ports:
      - "${CUSTOM_HOST}:${CUSTOM_PORT}:${CUSTOM_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
